* {
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    margin: auto;
    background-color: #8f7f6f;

}
.title{
    text-align: center;
    color: #252627;
}


.navbar {
    width: 100%;
    background-color: #252627;
    overflow: auto;
    font-size: 20px;
}


.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover {
    background-color: #000;
}


.active {
    background-color: #eed191;
}
.con:link, .con:visited {
    margin-top: 1px;
    color: #252627;
    padding: 15px 25px;
    text-align: center;
    padding: 12px;
    color: #252627;
    text-decoration: none;
    font-size: 17px;
  }
  
 .con:hover, .con:active {
    text-decoration:underline solid ;
  }
  .gmail{
    margin-top: 1px;
    color: #252627;
    padding: 15px 25px;
    text-align: center;
    padding: 12px;
    color: #252627;
    text-decoration: none;
    font-size: 17px;
  }

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}