* {
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    margin: auto;
    background-color: white;

}

.title {
    text-align: center;

}


.inleiding {
    text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.img {
    margin-top: 20px;
    position: absolute;
    max-width: 400px;
    left: 480px;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 600px;
}

.seeImg {
    margin-top: 25px;
    position: absolute;
    max-width: 400px;
    left: 1020px;
}

.see h2 {
    margin-top: 225px;
    position: absolute;
    margin-left: 570px;
    border-style: solid;
    border-top: 0px;
    border-color: #000;

}

.see {
    grid-row: 2/3;
    grid-column: 1/2;
}

.higher h2 {
    margin-top: 225px;
    position: absolute;
    border-style: solid;
    border-top: 0px;
    border-color: #000;
}

.higher {
    grid-row: 1/2;
    grid-column: 1/2;
}

.higher:hover h2 {
    background-color: #717171;
    cursor: pointer;
}

.see:hover h2 {
    background-color: #717171;
    cursor: pointer;
}



.navbar {
    width: 100%;
    background-color: #252627;
    overflow: auto;
}


.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover {
    background-color: #000;

}


.active {
    background-color: #bbb;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    .body {
       margin-left: 10px;
    }

    .inleiding {
        position: absolute;
        left: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .img {
        max-width: 400px;
        top: 900px;
        left: 50px;
    }

    .project {
        float: none;
       display: contents;
    }


    .seeImg {
        max-width: 400px;
        left: 50px;
        top: 1150px;
    }
    .seeText{
        
        left: 0;
    }
    .higherText{
      opacity: 0;
    
    }
    .higher {
       top: 950px      
    }
}